* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
  display: flex;
  background-color: lightgreen;
  background-size: cover;
  background-position: top;
}

.container {
  width: 100%;
  height: 80%;
  background-color: rgb(202, 242, 202);
  position: relative;
  inset: 0;
  margin: auto;
  backdrop-filter: blur(3px);
  border-radius: 8px;
  padding: 16px;
}

.bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.habitAdder {
  height: 150px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: green;
  height: 35px;
  width: 35px;
  font-size: 1rem;
}

.habitAdder input {
  background-color: lightgrey;
  width: 500px;
  height: 35px;
  outline: none;
  border: none;
  margin: 5px 0;
  padding: 0 0 0 10px;
  font-size: 1rem;
  border: 1px solid;
}

.habbitAdder input:focus {
  box-shadow: 1px 1px;
}

.addbtn {
  align-self: flex-end;
  margin: 10px 0 0 0;
  outline: none;
  border: none;
  width: 90px;
  height: 30px;
  cursor: pointer;
  background-color: darkgreen;
  color: white;
  font-size: 1rem;
}

.addbtn:hover {
  box-shadow: -2px 2px #00000080;
  transform: translate(2px, -2px);
}

.warning {
  text-align: center;
  font-weight: 500;
}
